$bleufonce: #182b48; // Couleur de fond
$bleumoyen: #90abd5; // Couleur d'arrière-plan des cadres
$bleuclair: #abc1e4; // Couleur du contenu des commentaires
$bleuborders: #516b96; // Couleur des bordures de stuff
$rougegroupomania: #fd2d01;

$textedebase: 1.4rem;
$textereduit: 1.2rem;