.greatContainer {
    padding: 0 20px;
}

.feedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    max-width: 700px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.thread {
    width: 100%;
}