@import './utils/mixins';
@import './utils/placeholders';
@import './utils/variables';

.header {
    @include flex(row, space-between, center);
    background-color: $bleufonce;
    position: fixed;
    height: 9vh;
    width: calc(100% - 40px);
    z-index: 3;
}

.logoHeader {
    height: auto;
    &__img {
        max-height: 95%;
        max-width: 50vw;
    }
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 150px;
}
.nav2 {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.space {
    grid-column: 2;
}
.space2 {
    grid-column: 4;
}

.fas {
    @extend %pointerCursor;
    font-size: 2rem;
    color: $bleumoyen;
    &--user {
        grid-column: 1;
    }
    &--user2 {
        grid-column: 3;
    }
    &--exit {
        grid-column: 3;
    }
    &--exit2 {
        grid-column: 5;
    }
}

.linkUser {
    width: 35px;
    height: 35px;
    &__img {
        object-fit: cover;
        border-radius: 10px;
        height: 35px;
        width: 35px;
    }
}