

.container {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: flex-start;
    font-size: 1.3rem;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.sous-container {
    width: 100%;
    display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 800px;
    margin: 10px 5px;
    &__img  {
        max-width: 100%;
        height: auto;
    }
}

.cards {
    width: 500px;
    height: 650px;
    position: relative;
    margin: 0 10px;
}

h1 {
    text-align: center;
    margin-top: 0;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.cadre {
    background-color: #90abd5;
    //border: 2px solid gray ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 75%;
    height: 80%;
    &__signin {
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: 1;
        box-shadow: -5px -5px 6px 0px rgba(0,0,0,0.66);
    }
    &__signup {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
        box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.66);
    }
}

.form {
    &__question {
        display: flex;
        flex-direction: column;
    }
    &__butt {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        &__button {
            background-color: #90abd5;
            width: 35%;
            height: 40px;
            font-size: 1.3rem;
            //border: 1px solid black;
            box-shadow: 5px 5px 5px -1px rgba(0,0,0,0.66);
        }
    }
}

input {
    height: 35px;
    border-radius: 10px;
    padding-left: 7px;
    font-size: 1rem;
    color: rgb(56, 56, 56);
}

p {
    color: red;
    margin: 5px 0 5px 0;
    font-size: 1rem;
}